services:
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo
      - ml-service
      - redis

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - backend

  ml-service:
    build: ./ml-service
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis

volumes:
  mongo_data:
